html, body {
    margin: 0;
    padding: 0;
}
img {
    object-fit: none;
}
#game-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
}
#interface-container {
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    min-height: 0;
    align-items: center;
    flex: 1;
    position: relative;
    border-width: 30px;
    border-style: solid;
    border-image: url('images/menuBorder2.png') 30 repeat;
    box-sizing: border-box;
    background-color: #fdfdfd;
    background-clip: padding-box;
    z-index: 10;
    width: 1300px;
    overflow: visible;
}
.statbox-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    width: auto;
}
.statbox {
    position: relative;
    transition: transform 0.07s ease;
    transform: translateY(0);
    width: 350px;
    border-width: 30px;
    border-style: solid;
    border-image: url('images/menuBorder2.png') 30 repeat;
    background-clip: padding-box;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-bottom: 8px;
    background-color: #fdfdfd;
    align-items: center;
    z-index: 50;
    overflow: visible;
}
#stat-enemy {
    margin-top: 9px;
    position: sticky;
    top: 0;
    padding-bottom: 15px;
}
#stat-ally {
    margin-bottom: 3px;
    position: sticky;
    bottom: 0;
    padding-top: 15px;
}
.statbox.drop {
    transform: translateY(8px);
}
.statbox.pop {
    transform: translateY(-8px);
}
.statbox-name {
    background-color: white;
    border-width: 10px;
    border-style: solid;
    border-image: url('images/nameboxBorder.png') 10 repeat;
    background-clip: padding-box;
    text-align: center;
    font-size: 1.48rem;
    font-weight: bold;
    z-index: 30;
}
.statbox-health-container {
    display: none; /* INACTIVE */
    flex-direction: row;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    box-sizing: border-box;
    justify-content: center;
    z-index: 60;
}
.statbox-health-container:empty {
    display: none;
}
.statbox-att-outer {
    display: none; /* INACTIVE */
    flex-direction: column;
    height: auto;
    width: 100%;
    padding-left: 3px;
    padding-right: 3px;
    box-sizing: border-box;
}
.statbox-attribute-container {
    gap: 12px;
    font-size: 1.12rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
}
.statbox-attribute {
    font-size: 1.12rem;
    flex: 1;
    text-align: center;
    padding: 1px;
}
.statbox-descriptor-perm {
    justify-content: center;
    display: flex;
    gap: 8px;
    flex-direction: row;
    max-width: 330px;
    text-align: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.statbox-descriptor-perm > .tt {
    font-size: 18px;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
}
/*.statbox-descriptor-perm > span {
    background-color: #fff8b9;
}
.statbox-descriptor-ally > span {
    background-color: #cbfcb6;
}
.statbox-descriptor-enemy > span {
    background-color: #ffd6d6;
}*/
.status-container {
    color: #2c2c2c;
    display: flex;
    position: absolute;
    top: -35px;
    flex-direction: column;
    width: 90%;
    max-width: 1200px;
    height: auto;
    gap: 2px;
    align-items: center;
    font-size: 1.145rem;
    border-width: 10px;
    border-style: solid;
    border-image: url('images/nameboxBorder.png') 10 repeat;
    background-color: white;
    background-clip: padding-box;
    z-index: 15;
}
.status-container:empty {
    display: none;
}
.status-container,
#result-container,
#menu-battle-container {
    flex-shrink: 0;
}
.status-message {
    width: 100%;
    height: auto;
    text-align: center;
}
.status-container:empty {
    display: none;
}
#status-char-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 100%;
}
#status-priority-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 10px;
}
#status-char-container:empty {
    display: none;
}
.status-char-group {
    flex: 1;
    gap: 2px;
    justify-content: center;
    max-width: 34vw;
}
#menu-battle-container {
    display:  flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    justify-content: center;
}
#menu-battle-left {
    flex: 1;
    align-items: flex-start;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 45px;
}
#menu-battle-right {
    flex: 1;
    height: 100%;
}
.menu-battle-column {
    overflow-y: auto;
    scrollbar-gutter: stable;
    display: flex;
    flex-direction: column;
    background-color: white;
    /*border-width: 30px;
    border-style: solid;
    border-image: url('images/menuBorder2.png') 30 repeat;
    background-clip: padding-box;*/
    box-sizing: border-box;
    padding: 7px;
}
.menu-battle-column:empty {
    border-width: unset;
    border-style: unset;
    border-image: unset;
    background-clip: padding-box;
}
.menu-battle-big {
    font-size: 1.29rem;
}
.menu-battle-medium {
    font-size: 1.25rem;
}
.menu-battle-small {
    font-size: 1.2rem;
}
#battle-column1, #battle-column2, #battle-column3 {
    background-color: #fdfdfd;
}
#battle-column1 {
    font-size: 1.18rem;
    width: 300px;
    align-items: flex-end;
    text-align: right;
    gap: 7px;
}
#battle-column1 button:hover {
    transform-origin: center;
    transform: scale(1.134) translateX(-2px) translateY(-1px) rotate(1deg);
}
#battle-column2 {
    font-size: 1.18rem;
    align-items: flex-start;
    width: 275px;
    padding-right: 30px;
    gap: 8px;
}
#battle-column2 button:hover {
    transform-origin: center;
    transform: scale(1.134) translateX(2px) translateY(-1px) rotate(-1deg);
}
#battle-column3 {
    position: absolute;
    top: 0px;
    bottom: 0px;
    display: flex;
    box-sizing: border-box;
    font-size: 1.17rem;
    flex-direction: column;
    padding-left: 5px;
    width: 600px;
    align-items: flex-start;
}
.battle-infotable {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 530px;
    gap: 10px;
    flex-wrap: wrap;
}
.battle-infocell {
    text-align: center;
    width: 125px;
}
.menu-battle-column button {
    display: inline-block;
    width: auto;
}
#menu-battle-container:empty {
    display: none;
}
#consequence-container {
    padding-top: 2px;
}
#result-container {
    display: flex;
    position: absolute;
    top: 30px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 0.5vw;
}
#result-container .status-message {
    font-size: 1.15rem;
}
#result-container:empty {
    display: none;
}
.result-message {
    flex: 1;
    font-size: 1.15rem;
    text-align: center;
}
.result-message:empty {
    display: none;
}
.choice-message {
    flex: 1;
    font-size: 1.1rem;
    text-align: center;
}
.choice-message button:hover {
    transform-origin: center;
    transform: translateX(3px) translateY(-1px) rotate(1deg);
}
.choice-message:empty {
    display: none;
}
#announce-action {
    font-size: 1.3rem;
    margin-top: 3px;
    margin-bottom: 7px;
}
#announce-turn {
    font-size: 1.4rem;
    margin-bottom: 3px;
}
#continue-button {
    font-size: 1.28rem;
    text-align: center;
    margin-top: 5px;
}
#continue-button button:hover {
    font-size: 1.34rem;
    transform-origin: center;
    transform: translateX(-1px) translateY(-0.5px) rotate(0.75deg);
}
.emphasis {
    font-size: 1.2rem;
    transform-origin: center;
    transform: translateX(-1px) translateY(-1px) rotate(-1deg);
}
.emphasis-straight {
    font-size: 1.21rem;
}
button {
    all: unset; /* Removes all default styles */
    font: inherit; /* Inherits the font style from the parent element */
    color: inherit; /* Inherits text color from parent */
    background: none; /* Removes the background */
    border: none; /* Removes the border */
    padding: 0; /* Removes padding */
    cursor: pointer; /* Shows the pointer cursor */
    transition: transform 0.025s ease;
}
b, br {
  display: inline;
}
.health-bar-outer {
    z-index: 20;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-width: 7px;
    border-style: solid;
    border-image: url('images/healthBarOuter.png') 7 repeat;
    background-clip: padding-box;
}
.health-bar {
    z-index: 10;
    box-sizing: border-box;
}
.tt-block {
    white-space: nowrap;
    display: inline-block;
}
.tt:hover {
    text-decoration: underline;
}
.tt-reveal {
    font-size: 1.05rem;
    display: none;
    position: absolute;
    /*background-color: #222;*/
    background-color: #070707;
    background-clip: padding-box;
    color: #fff;
    box-sizing: border-box;
    white-space: normal;
    z-index: 100;
    opacity: 0;
    transition: opacity 0.15s;
    width: max-content;
    min-width: 260px;
    max-width: 300px;
    /*border-radius: 5px;*/
    border-width: 10px;
    border-style: solid;
    border-image: url('images/tooltip.png') 10 repeat;
}
canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0; /* behind all content */
}